@mixin bp($point) {
    @if $point == below-sm {
        @media (max-width: 575px) { @content; }
    }    
    @if $point == below-md {
        @media (max-width: 749px) { @content; }
    }
    @if $point == below-lg {
        @media (max-width: 989px) { @content; }
    }
    @if $point == below-xl {
        @media (max-width: 1199px) { @content; }
    }
    @if $point == sm {
        @media (min-width: 576px) { @content; }
    } 
    @if $point == md {
        @media (min-width: 750px) { @content; }
    }    
    @if $point == lg {
        @media (min-width: 990px) { @content; }
    }
    @if $point == md-lg {
        @media (min-width: 750px) and (max-width: 989px) { @content; }
    }
    @if $point == md-xl {
        @media (min-width: 750px) and (max-width: 1199px) { @content; }
    }
    @if $point == lg-xl {
        @media (min-width: 990px) and (max-width: 1199px) { @content; }
    }
    @if $point == xl {
        @media (min-width: 1200px) { @content; }
    }
    @if $point == xxl {
        @media (min-width: 1400px) { @content; }
    }
    @if $point == xxxl {
        @media (min-width: 1600px) { @content; }
    }
}

$font-heading: 'Poppins', sans-serif;
$font-main: 'Roboto', sans-serif;

$color-white: #ffffff;